

/*BREADCRUMB*/


.scorecard-breadcrumb{
    background-color: #f1f1f1;
    margin:0;
}

/* Style the list */
ul.scorecard-breadcrumb {
    padding: 10px;
    list-style: none;
}

ul.scorecard-breadcrumb li {
    display: inline;
    font-size: 0.8rem;
    padding: 5px;
}

ul.scorecard-breadcrumb li span{
    font-weight: bold;
}

ul.scorecard-breadcrumb li+li:before {
    padding: 8px;
}

ul.scorecard-breadcrumb li a {
    color: #3f48cc;
    text-decoration: none;
}

ul.scorecard-breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

input.search-bar{
    display: none;
    background: none;
    border: none;
    border-bottom: 1px solid #3f48cc;
}
