.report-content{
    padding: 0 15px;
    margin-bottom: 15px;
}


input#tableSearchInputSSR{
    background: none;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px 10px;
}


/* CONTROLS */

.add, .share, .download, .copy{
    font-size: 1.2rem;
    color: #3f48cc;
    border: none;
    background: none;
    float: right;
}

.add-report{
    margin: 15px 0;
}

.actions button{
    float: right;
    margin: 0;
}

.table-fields, .matrix-fields, .gallery-fields{
    margin-top: 20px;
}


#group-by-dropdown , #sort-by-dropdown {
    padding: 0;
}

#group-by-dropdown ul, #sort-by-dropdown ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#group-by-dropdown ul li, #sort-by-dropdown ul li{
    padding: 5px;
    text-align: left;
}

#group-by-dropdown ul li:hover, #sort-by-dropdown ul li:hover, #group-by-dropdown ul li:active, #sort-by-dropdown ul li:active{
    background-color: #cccccc;
}



.custom-filter-group{
    background-color: #eeeeee;
    padding: 10px 15px;
    margin-top: 5px;
}

.custom-filter-group select, input{
    margin: 5px 0;
}





