


input#tableSearchInputSSR{
    background: none;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px 10px;
}


/* CONTROLS */

.add, .share, .download, .copy, .newsletter{
    font-size: 1.2rem;
    color: #3f48cc;
    border: none;
    background: none;
    float: none;
}

.add-report{
    margin: 15px 0;
}


.add-filter-fields{
    margin-top: 5px;
}

.actions button{
    float: right;
    margin: 0;
}

.table-fields, .matrix-fields, .gallery-fields{
    margin-top: 20px;
}


.custom-filter-group{
    background-color: #eeeeee;
    padding: 5px 10px;
    margin-top: 5px;
}

.custom-filter-group select, input{
    margin: 5px 0;
}

#first-filter .dropdown-content i.delete{
    display: none;
}

.new-filter{
    display: inline;
}

