.cfr_link{
     padding-top: 5px;
     padding-bottom: 5px;
     display: block;
     clear: both;
     border: 1px;
     padding: 15px 0;
     margin: 10px 0;
 }


#leftnav form input {
    background-color: #fff;
}

.cfr_search input[type=text] {
    padding: 5px 0;
    margin: 5px 5px 0 0;
}

#menu > ul > li{
    text-decoration: none;
    font-weight: normal;
}
#menu > ul > li {
    border-width: 0px;
    display: block;
    padding: 2px 3px;
    color: #474747;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
    border-right: 1px solid #CCCCCC;
    background: #fff;
    font: 16px/24px "arial", "helvetica", sans-serif;
    font-family: 'Open Sans', verdana, arial, sans-serif;
}